body {
  font-family: sans-serif;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}

.navbar .navbar-expand-lg .navbar-light .bg-light {
  background-color: transparent;
  color: white;
}
.rounded-circle {
  border-width: 3px;
  border-color: black;
}
.rounded-circle-yellow {
  border-width: 3px;
  border-color: #fed136;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.social-net-radius {
  object-fit: contain;
  width: 41px;
  height: 41px;
}
.radius-amazing {
  width: 220px;
  height: 221px;
}
.navbar-light .navbar-brand {
  color: #fed136;
  font-family: "Wisdom - Script";
  font-size: 26px;
  letter-spacing: 1.3px;
}
.navbar-logo {
}
.card-services-size {
  width: 40px;
  height: 39px;
}
.btn-warning {
  color: white;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: white;
}
.navbar-light .navbar-nav .nav-link.disabled {
  color: white;
}
.form-control-lg {
  width: 455px;
}
.width-none {
  width: 0;
}
